@import "../../variables.scss";
.search-results{
    width:1200px;
    color: $primary-font;
    padding-top: 20px;
}
.rating__icon{
    font-size: 16px;
    color: $secondary-font;
}
.rating-count{
    color: $secondary-font;
    font-size: 16px;
}

@media screen and (max-width: 1400px) {
    header,
    main{
        width: 100%;
    }
}
.search-result-label{
    font-size: 15px;
    padding-top: 30px;
}
.search-results-list{
    list-style: none;
}
.search-result__cover{
    padding: 2px;
    width: 40px;
    grid-area: cover;
}
.search-result__game-name{
    grid-area: game-name;
    margin-left: 2px;
    font-size: 14px;
    font-weight: bold;
    color: $primary-font;
    align-items: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.platform-list{
    margin-left: 2px;
    grid-area: platforms;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

}
.platform-label{
    height: 20px;
    margin-right: 5px;
    font-size: 10px;
}
.rating{
    font-size: 12px;
    grid-area: rating;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.search-result{
    margin-top: 10px;
    min-height: 40px;
    border-bottom: 1px dashed $gray;
    display: grid;
    grid-template-columns: 40px auto 75px;
     grid-template-rows: auto;
     grid-template-areas: 
       "cover game-name rating"
       "cover platforms platforms";
}
@media screen and (max-width: 1200px) {
    .search-results{
        width:100%;
        padding: 0 5px;
    }
}