@import "../variables.scss";
.header {
    width: 1400px;
    .nav-group{
      display: flex;
      justify-content: space-between;
      padding: 20px;
      list-style: none;
      .home-btn{
        color: $primary-font;
        font-weight: bold;
        text-decoration: none;
      }
      .search-btn{
        text-decoration: none;
    cursor: pointer;
    color: black;
      }
    }
  }
  @media screen and (max-width: 1400px) {
    .header{
      width: 100%;
    }
  }