@import "../variables.scss";
.header {
    width: 1400px;
    @media screen and (max-width: 1400px) {
      width: 100%;
    }
  }
  .logo{
    font-size: 16px;
  }
  .nav{
    display: flex;
    justify-content: space-between;
  }
.nav-group{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  list-style: none;
  }
.home-btn{
  color: $primary-font;
  font-weight: bold;
  text-decoration: none;
}
.nav-element{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-btn{
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $primary-font;
}
.nav-btn-auth-ico{
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $primary-font;
}