.rating {
    display: flex;
    margin: 0 10px 0 4px;
    .rating-count {
      color: rgb(0, 193, 201);
      font-size: 16px;
    }
  }
  
  .rating-star {
    padding: 2px;
    display: flex;
    align-items: center;
    .rating__icon {
      font-size: 16px;
      color: rgb(0, 193, 201);
    }
  }
  