@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');
$primary-font: black;
$secondary-font: rgb(0, 193, 201);
$gray: #595959;
$border: rgba(0, 0, 0, 0.1);
$half-opacity: rgba(0, 0, 0, 0.5);