@import "../variables.scss";

.main-search {
    width: 1200px;
    display: flex;
	@media screen and (max-width: 1200px) {
		width: 100%;
	}
}

.searching{
	padding: 0 5px;
}

.searching-container{
	max-width: 450px;
	padding-bottom: 10px;
	position: relative;
	position: sticky;
	top: 10px;
	background-color: #fff;
	z-index: 2;
}

.search-input{
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid $gray;
}
.search-input-error{
    left: 2px;
	bottom: 11px;
    font-size: 10px;
    color: red;
	position: absolute;
}

.submit-btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	font-size: 30px;
    right: 3px;
    top: 5px;
    position: absolute;
    color: $gray;
}
.filter-header {
	width: 100%;
	display: flex;
	height: 30px;
	justify-content: flex-start;
	align-items: center;
	@media screen and (max-width: 600px) {
		position: sticky;
		top: 60px;
		z-index: 2;
	}
}


.filter-container{
  display: none;
}

.filter-container--open{
	display: grid;
	grid-column-gap: 15px;
	grid-row-gap: 40px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style: none;
	@media screen and (max-width: 950px){
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-column-gap: 10px;
	}
	@media screen and (max-width: 700px){
	  grid-template-columns: 1fr 1fr;
	  grid-column-gap: 5px;
	}
	@media screen and (max-width: 550px){
		grid-template-columns: 1fr;
		grid-column-gap: 5px;
	}
}

.filter-list{
  	list-style: none;
}

.filter-list-title{
	font-weight: bold;
}

.checkbox-container {
	padding: 5px 0;
	text-align: left;
}

.filter-list .checkbox-container{
	display: none;
}
.filter-list .checkbox-container--show-all{
	display: block;
}
.filter-list .checkbox-container--short-ver:nth-child(-n+5){
	display: block;
}

input[type=checkbox],
input[type=radio]{
	display: none;
}

label {
	cursor: pointer;
	position: relative;
	padding: 0;
	margin: 0;
}

label:before, label:after {
	transition: all 0.2s ease-out 0s;
	content: "";
	display: inline-block;
	position: absolute;
}


.agree {
	padding-left: 20px;
}

.v-sign {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 1px;
	left:0;
	border: 1px solid #aaa;
	box-sizing: border-box;
	box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, .2);
	transition: all 0.2s ease-out 0s;
}

.v-sign:before, .v-sign:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 12px;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
  border-radius: 2px;
	transition: all 0.2s ease-out 0s;
	opacity: 0;
}
.v-sign:before {
	transform-origin: left top;
	transform: translate(2px, 4px) rotate(45deg) scale(0.6, 1);
}
.v-sign:after {
	transform-origin: right top;
	transform: translate(1px, 1px) rotate(-45deg);
}

label:hover > .v-sign {
	background-color: #efefef;
}


input[type=checkbox]:disabled + label {
	opacity: .5;
}
input[type=checkbox]:disabled + label:hover > .v-sign {
	background-color: rgba(0, 0, 0, 0);
}


input[type=checkbox]:checked + label > .v-sign {
	background-color: $secondary-font;
	border-color: $secondary-font;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
input[type=checkbox]:checked + label > .v-sign:before, 
input[type=checkbox]:checked + label > .v-sign:after {
	opacity: 1;
}



// https://codepen.io/evgen_perelomov/pen/JEKNVr