@import "../variables.scss";
$header-background: #1096b5;
$button-active: rgb(0, 193, 201);
$inputs: rgb(142,149,159);
$font: white;

.main-auth {
  display: flex;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
	@media screen and (max-width: 1200px) {
		width: 100%;
	}
}

.auth{
  display: flex;
  justify-content: center;
	padding: 0 5px;
}

.auth-container{
  margin-top: 20px;
  width: 400px;
  border: 1px solid $border;
  position: relative;
  background-color: white;
  @media screen and (max-width: 400px) {
		width: 100%;
	}
}

.auth-header{
  background-color: $header-background;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: calc(100% - 20px);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -20px;
}

.header-btn{
  background-color: $header-background;
  border: none;
  color: $font;
  cursor: pointer;
  font-size: 12px;
  padding: 10px 10px;
  width: 48%;
  transition: background-color .3s;
  &:hover{
    background-color: $button-active;
  }
}

.header-btn--active{
  background-color: $button-active;
}

.header-btn-icon{
  margin-right: 5px;
  font-size: 10px;
}

.auth-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding: 20px 20px 0 20px;
}

.input-row{
  display: flex;
  padding-top: 30px;
}

.input-label{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-icon{
  color: $inputs;
  font-size: 20px;
  margin-right: 8px;
}

.input{
  border: none;
  border-bottom: 1px solid $inputs;
  color: $inputs;
  padding: 6px;
  width: 100%;
}

.btn--auth{
  margin: 20px auto;
  width: 120px;
  position: relative;
}

.input-row{
  position: relative;
}

.form-auth-error{
  bottom: -15px;
  color: red;
  font-size: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.submit-icon{
  margin-right: 6px;
}

.social-auth-section{
  padding: 0 20px 0 20px;
}

.social-auth-label{
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.social-options{
  display: flex;
  justify-content: space-around;
  padding: 10px 0 10px 0;
}

.social-option-btn{
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.social-icon-google{
  font-size: 30px;
  color: #DB4437;
}

.social-icon-facebook{
  font-size: 30px;
  color: #3A5998;
}
.social-icon-github{
  font-size: 30px;
  color: black;
}

.auth-options{
  font-size: 10px;
  color: $header-background;
  cursor: pointer;
  padding: 0 0 10px 10px;
  transition: color .3s;
  &:hover{
    color: $button-active;
  }
}

.close-ico{
  position: absolute;
  bottom: 0;
  right: 4px;
  font-size: 30px;
  color: red;
}